.z-footer {
  background: #0b132b;
  color: #d9d9d9;
  padding: 40px 10%;
  font-family: Vazirmatn, sans-serif;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 30px;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
  border-right: 3px solid #4c5fd7;
  padding-right: 8px;
}

.footer-subtitle {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #fff;
}

.footer-text {
  margin: 4px 0;
  font-size: 15px;
  color: #dcdcdc;
}

.footer-map img {
  width: 100%;
  height: 140px;
  border-radius: 10px;
  margin-top: 10px;
  object-fit: cover;
  opacity: 0.9;
}

.footer-social {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.footer-social a {
  background: #4c5fd7;
  color: white;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.2s;
}

.footer-social a:hover {
  background: #6273ff;
}

/* خبرنامه */
.newsletter {
  display: flex;
  margin-top: 10px;
  background: #1c2541;
  border-radius: 8px;
  padding: 5px;
  
}
.footer-subtitle {
    border-right: 3px solid #4c5fd7;
    padding-right: 8px;
}
.footer-socialText {
      border-right: 3px solid #4c5fd7;
    padding-right: 8px;
}


.newsletter input {
  flex: 1;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
  padding: px;
  
}

.newsletter button {
  background: #4c5fd7;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
 height: 6.5vh;
  left: 10vw;
}

.newsletter button:hover {
  background: #6273ff;
}

/* کپی‌رایت */
.footer-copy {
  text-align: center;
  border-top: 1px solid #1d2743;
  padding-top: 20px;
  color: #bfc6d9;
  font-size: 14px;
}

/* ریسپانسیو موبایل */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: 1fr;
    text-align: right;
  }
}
.footer-location {
  margin-top: 25px;
}

.location-link {
  display: flex;
  align-items: center;
  gap: 14px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  padding: 12px 16px;
  border-radius: 16px;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.25s ease;
}

.location-link:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.15);
}

.location-map-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.location-text h4 {
  margin: 0;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

.location-text p {
  margin: 0;
  color: #ccc;
  font-size: 0.85rem;
}
