.slider-container {
    align-self: center;
  width: 50%;
  height: 50vh;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin-right: 25%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.7s ease-in-out;
}
