.student-card {
  width: 400px;
  /* background: #777; */
  background-color: #dbdfac;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  direction: rtl;
  font-family: Vazirmatn, sans-serif;
}

.student-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.student-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: #0056b3;
}

.card-subtitle {
  font-size: 14px;
  color: #777;
}

.student-card-body {
  font-size: 15px;
  text-align: right;
  margin-top: 10px;
}

.student-card-body p {
  margin: 6px 0;
  text-align: center;
  font-size: 1.5rem;
  color: #383961;
  border-bottom: 3px solid #383961;
}

.student-card-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.footer-logo {
  width: 60px;
  height: auto;
}
/* StudentCard.css */
.student-card-wrapper {
  text-align: center;
    border-radius: 20px;
}

.student-card {
  width: 350px;
  padding: 15px;
  /* background: #777; */
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
    border-radius: 20px;
}

.card-text p {
  margin: 5px 0;
  font-size: 14px;
}

.download-btn {
  margin-top: 10px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.download-btn:hover {
  background: #0056b3;
}
.footer-logo {
  border-radius: 10px;
}

/* ----- PRINT MODE ----- */
@media print {

  /* فقط کارت چاپ شود — باقی صفحه مخفی */
  body * {
    visibility: hidden !important;
  }

  /* کارت مودال چاپ شود */
  .student-card, .student-card * {
    visibility: visible !important;
  }

  /* کارت در وسط صفحه چاپ شود */
  .student-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  /* خود مودال حذف شود تا خط و سایه چاپ نشود */
  .card-modal,
  .card-overlay {
    position: static !important;
    background: white !important;
    box-shadow: none !important;
  }

  /* دکمه‌ها در چاپ مخفی شوند */
  .print-btn {
    display: none !important;
  }
}
.print-btn {
  background-color:#0056b3 ;
  border-radius: 5px;
  color: #ffff;
  border: none;
  width: 30%;
}